.file-input {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

.tooltip {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    transform: translateY(-100%);
    white-space: nowrap;
}

.hidden {
    display: none;
}