{% extends 'base.html' %}

{% block custom_style -%}
<style>
    #anim {
        max-width: 100%;  /* задайте ширину контейнера */        
        overflow: hidden; /* скройте текст, который выходит за границы контейнера */
      }
    #bg-black {
      background-color: black;
    }

    .date-size {
      font-size: 60px;
    }

        
</style>
{% endblock -%}


{% block content %}

{{ super() }}

<body id="bg-black">
    <!-- Здесь вы можете добавить свой контент -->
  <div class="container mt-5 border border-dark">
    <div class="row">
        <div class="col-md-3">
          <img  src="{{ url_for('static', filename='images/logoKPP.png')}}" class="img-fluid border-0" width="250">          
        </div>
        <div class="col-md-9">
          <br>
          <h1 class="mt-2 text-white">KAZ MINERALS BOZSHAKOL (КАЗ МИНЕРАЛЗ БОЗШАКОЛЬ)</h1>       
        </div>
     
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
          
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                         <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                      <table class="table">
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ДАТА</h2></th>
                                                            <td><h1 class="text-danger date-size ">29.05.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ДАТА ПОСЛЕДНЕГО НЕСЧАТНОГО СЛУЧАЯ</h2></th>
                                                            <td><h1 class="text-danger date-size ">03.03.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">КОЛИЧЕСТВО ДНЕЙ БЕЗ НЕСЧАСТНОГО СЛУЧАЯ</h2></th>
                                                            <td><h1 class="text-danger">86</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">КОЛИЧЕСТВО НЕСЧАСТНЫХ СЛУЧАЕВ В ЭТОМ ГОДУ</h2></th>
                                                            <td><h1 class="text-danger">1</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ТЕМПЕРАТУРА, °С</h2></th>
                                                            <td><h1 class="text-danger"><span class="unit-temperature" data-temperature-f="55">+13</span> </h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">СКОРОСТЬ ВЕТРА, м/с</h2></th>
                                                            <td><h1 class="text-danger">3</h1></td>                                                            
                                                          </tr>
                                                          
                                                        </tbody>
                                                      </table>
                                                       
                                                </div>

                                                <div class="carousel-item ">
                                                     <table class="table ">
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">DATE</h2></th>
                                                            <td><h1 class="text-danger date-size ">29.05.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">LAST LTI DATE</h2></th>
                                                            <td><h1 class="text-danger date-size ">03.03.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">NUMBER OF DAYS WITHOUT LTI</h2></th>
                                                            <td><h1 class="text-danger">86</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">NUMBER OF LTI THIS YEAR</h2></th>
                                                            <td><h1 class="text-danger">1</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">TEMPERATURE, °С</h2></th>
                                                            <td><h1 class="text-danger"><span class="unit-temperature" data-temperature-f="55">+13</span> </h1></td>                                                              
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">WIND SPEED, m/s</h2></th>
                                                            <td><h1 class="text-danger">3</h1></td>                                                             
                                                          </tr>
                                                          
                                                        </tbody>
                                                      </table>
                                                </div>

                                                <div class="carousel-item ">
                                                     <table class="table ">
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">КҮНІ</h2></th>
                                                            <td><h1 class="text-danger date-size ">29.05.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">СОҢҒЫ ЖАЗАТАЙЫМ ОҚИҒА КҮНІ</h2></th>
                                                            <td><h1 class="text-danger date-size ">03.03.24</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ЖАЗАТАЙЫМ ОҚИҒАСЫЗ КҮНДЕР САНЫ</h2></th>
                                                            <td><h1 class="text-danger">86</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ОСЫ ЖЫЛЫҒЫ ЖАЗАТАЙЫМ ОҚИҒАЛАР САНЫ</h2></th>
                                                            <td><h1 class="text-danger">1</h1></td>                                                            
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ТЕМПЕРАТУРА, °С</h2></th>
                                                            <td><h1 class="text-danger"><span class="unit-temperature" data-temperature-f="55">+13</span> </h1></td>                                                              
                                                          </tr>
                                                          <tr>
                                                            <th scope="row"><h2 class="mt-2 text-white">ЖЕЛДІҢ ЖЫЛДАМДЫҒЫ, m/s</h2></th>
                                                            <td><h1 class="text-danger">3</h1></td>                                                             
                                                          </tr>
                                                          
                                                        </tbody>
                                                      </table>
                                                </div>
    
                                          </div>
                                </div>





        </div>
             
        

             
       

        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
              <video controls loop autoplay muted  class="video">
                    <source src="res/result12042024.mp4" type="video/mp4">
                </video>
          </div>
        </div>
     
    </div>
    <div class="row">       
        <div class="col ">        
          <h1 id="anim"  class="mt-1 text-danger">БЕГУЩАЯ СТРОКА / SCROLLING TICKER </h1>       
        </div>
     
    </div>
 </div>

{% endblock %}