{% extends 'base.html' %}

{% block content %}


<div class="container">
{{ super() }}

<form accept="/login" method="post">
    <div class="form-group">
      <label for="exampleInputLogin">Login</label>
      <input type="text" name="username" class="form-control" id="exampleInputLogin" placeholder="Login" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email</label>
      <input type="text" name="email" class="form-control" id="exampleInputEmail" placeholder="Email" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="psw" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Repeat Password</label>
      <input name="psw2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}