{% extends 'base.html' %}

{% block content %}



{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="text-{{cat}}">{{msg}}</div>
{% endfor %}

  <form accept="/login" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
    <div class="form-group">
      {{ field.label() }}
      {% if field.errors %}
        {{ field(class_="form-control border border-danger") }}
        <span class="text-danger">
          {% for e in field.errors %}
            {{ e }}
          {% endfor %}
          </span>
      {% else %}
        {{ field(class_="form-control")}}
      {% endif %}
    </div>
    
    {% endfor %}
    <div class="form-check">      
      {{ form.remember(class_="form-check-input")}}
      {{ form.remember.label() }}
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form>

{% endblock %}